/**************************************************************************************************
 *
 *  @Section: Forms
 *
***************************************************************************************************/
.site-content,
.widget-area {
  $field-height: 40px;

  input:not([type='button']):not([type='submit']):not([type="radio"]):not([type="checkbox"]),
  textarea {
    padding: 12px;
    width: 100%;
    max-width: 100%;
    height: $field-height;
    color: $default-text;
    background: $white;
    border: 1px solid $border-gray;
    box-shadow: none;
    border-radius: 6px;
    @include transition;
  }

 

  select {
    position: relative;
    width: 100%;
    height: $field-height;
    padding: 5px  12px;
    border: 1px solid $border-gray;
    background: $white;
    z-index: 2;
    @include transition;
    border-radius: 6px;
  }

  input[type="submit"],
  input[type="button"] {
    background-color: $second-color!important;
    font-weight: bold;
    width:100%;
    border-radius: 5px;
  }

  input[type="radio"] {
    height: 15px;
    

  }



  .contact-form label span {
    color: $main-color;

  }
}
