/**************************************************************************************************
 *
 *  @Section: sponsors
 *
***************************************************************************************************/
#footer-widget-1{
	background: #ffffff;
	padding: 0px!important;
	
	#blog_subscription-2{
		background: $main-color;
		margin: 0;
		padding: 5rem;
		#subscribe-blog-blog_subscription-2{
			width: 50%;
			margin: 0 auto;
			text-align: center;
			color: #ffffff;
			font-size: 2rem;
			button{
				width: 200px;
				font-weight: 900;
				background-color: $second-color;
				border-radius: 30px;
				padding: 15px;
				color:#ffffff;
				text-align: center;
				margin:0 auto;
				border: none;
				&:hover{
							box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
						}
			}
			#subscribe-email{
				width: 50%;
				margin: 0 auto;
				#subscribe-field-blog_subscription-2{
					margin: 10px;
					border-radius: 5px;
					padding: 10px;
					border: none;
				}
			}
		}
	}
	
	#text-5{
		width: 50%;
		margin: 0 auto;
		h1{
			display: block;
			font-size: 3.5rem;
			line-height: 1.2;
			
		}
		.textwidget{
			text-align: center;
		}
	}

		.wcb_widget_sponsors{
		
		.sponsor-level.esmeralda {
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    flex-direction: column;

			    img{
			    	max-height: 350px;
			    }
			}

			.sponsor-level.oro, .sponsor-level.plata {
			    display: grid;
			    grid-template-columns: 1fr 1fr 1fr;
			    grid-template-areas: "title title title";
			    justify-content: center;
				justify-items: center;
				align-items: center;
			}
				
				.sponsor-level.bronce, .sponsor-level.social-media-partner {

				    display: grid;
				    grid-template-columns: 1fr 1fr 1fr 1fr;
				    grid-template-areas: "title title title title";
				    justify-content: center;
				    justify-items: center;
				    align-items: center;

				}

			.oro .sponsor-level-title, .plata .sponsor-level-title, 
			.bronce .sponsor-level-title, .social-media-partner .sponsor-level-title {
			    text-align: center;
			    grid-area: title;
			}

			.oro .sponsor-logo, .plata .sponsor-logo {

			    display: block !important;
			    text-align: center;
			    padding: 3rem;

			}

			.bronce .sponsor-logo, .social-media-partner .sponsor-logo {

			    display: block !important;
			    text-align: center;
			    padding: 3rem;

			}

		.sponsor-level{
			
			a[href*="greengeeks"] {
			    grid-column: 1;
			    grid-row: 2;
			}
			a[href*="dreamhost"] {

			    grid-auto-flow: dense;
			    align-self: center;
			    justify-self: center;
			    grid-area: logo;
			    transform: scale(0.8,0.8);

			}

			a[href*="madre"] {

			    grid-column: 1 /span 2;
				transform: scale(2,2);
			}
			a[href*="madre"], a[href*="maje"] {

			    grid-auto-flow: dense;
			    align-self: center;
			    justify-self: center;
			    grid-area: logo;
			        grid-column-start: logo;
			        grid-column-end: logo;
			    transform: scale(0.8,0.8);

			}
			a[href*="maje"] {

			    grid-column: 2 / span 3;

			}
		    h4{
		    	text-transform: uppercase;
		    	font-size: 2.5rem;
		    }
		    
			

		}
	}
	
	
	#custom_html-4{
		width: 50%;
		margin: 0 auto;
		h1{
			display: block;
			font-size: 3.5rem;
			line-height: 1.2;
			
		}
		.textwidget{
			text-align: center;
			a{
				width: 200px;
				font-weight: 900;
				background-color: $second-color;
				border-radius: 30px;
				padding: 15px;
				color:#ffffff;
				text-align: center;
				margin:0 auto;
				&:hover{
							box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
						}
			}
		}
	}
}

	   
@media only screen and (max-width: 360px) {
#blog_subscription-2{
		padding: 1rem!important;
		#subscribe-blog-blog_subscription-2{
			width: 100%!important;
			#subscribe-email{
				width: 100%!important;
			}
		}
	}
	
	#text-5{
		width: 100%!important;
	}

	#custom_html-4{
		width: 100%!important;
	}

	.wcb_widget_sponsors{
		.sponsor-level.oro, .sponsor-level.plata, .sponsor-level.bronce, .sponsor-level.social-media-partner {
			    display: grid;
			    grid-template-columns: 1fr;
			    grid-template-areas: "title" "logo";
			    justify-content: center;
				justify-items: center;
				align-items: center;
			}
		.sponsor-level.oro a {

		    width: 70% !important;

		}

		.sponsor-level.plata a {

		    width: 65% !important;

		}

		.sponsor-level.bronce a, .sponsor-level.social-media-partner a {

		    width: 60% !important;

		}

	}
}


			