/**************************************************************************************************
 *
 *  @Section: Codigo de conducta
 *
***************************************************************************************************/

.page-slug-codigo-de-conducta
{
	
	


	#main {
		padding-bottom: 0px;
		padding-top: 60px!important;
		background: transparent!important;
		margin-top: 15rem;

		&:after {
			display: none;
		}

		#primary {
			padding-top: 0px;

			.entry-header {
					position: absolute;
					width: 50%;
					height: 50%;
					top:-35rem;
					left: 50%;

										
					.entry-title {
						
						font-size: 5rem;
						font-weight: 700;
						color: #fff;
						margin:0;
						padding: 0;
						text-transform: uppercase;
						line-height: 1.5;
				
				}
			}

			

			#content {
				padding-right: 0;
	
				&:before {
					display: none;
				}

				article {

					.entry-content {
						position: relative;
						top:0;
						padding-right: 53%;
						font-size: 1.7rem;
						
						div[id^="contact-form-"] {
							padding: 20px;
							position: absolute;
							top: 0;
							right: 0;
							width: 50%;
							color: $main-color;
							background-color: $light-third-color;
							border-radius: 8px;
							font-size: 1.7rem;
							.contact-form label span {
							    color: $main-color;

							  }
							  .grunion-field-wrap{
								margin-bottom: 1.5rem;				
							  }

							 label{
										margin-bottom:1rem;
										line-height: 1.5;
									}

							.grunion-field-label{
								span{
									color: $light-third-color!important;
									&:after{
										position:relative;
										content: '*';
										color:$main-color;
										right: 8rem;
									}
								}
							}

						}
					}
				}
			}
		}

		#secondary {
			display: none;
		}
	}


}


@media only screen and (max-width: $tablet-portrait) {

	.page-slug-codigo-de-conducta {
	
		

		#main {
			padding-left: initial;
			padding-right: initial;
			padding-bottom: 50px;

			#primary {

				.entry-header {
					position: absolute;
					width: 40%;
					height: 40%;
					top:-15%;
					left: 20rem;

										
					.entry-title {
						
						font-size: 5rem;
						font-weight: 700;
						color: #fff;
						margin:0;
						padding: 0;
										
				}
			}

				#content {

					article {

						.entry-content {
					    	padding: 0 20px;

							div[id^="contact-form-"] {
								position: relative;
								width: 100%;
							}
						}
					}
				}
			}
		}
	
	}
}

@media only screen and (max-width: $mobile) {
		
		.page-slug-codigo-de-conducta {
		

				#main {
				
				padding-bottom: 50px;
				margin-top: 100px;
				#primary {

						.entry-header {
							position: absolute;
							width: 50%;
							height: 40%;
							left: 5%;
  							right: 5%;
							width: 90vw;
							top:-20rem;
												
							.entry-title {
								
								font-size: 3.7rem;
								font-weight: 900;
								color: #fff;
								margin:0;
								padding: 5px;

						}
					}

					#content {
						
						article {
							margin-right: 15px;
							.entry-content {
						    	padding: 0 10px;
						    	

						    	//Form select
								.site-content select, .widget-area select{
								  color: #666 !important;
								}

								//Form Checks
								.contact-form label.checkbox, .contact-form label.radio{
								  font-weight: 600;
								}


								div[id^="contact-form-"] {
									position: relative;
									width: 100%;
									label{
										font-weight: 600;
									}
									input[type="button"]{
										background-color: #ea4a15;
									}

								}
							}
						}
					}
				}
			}
		
	}
}


@media only screen and (max-width: $mobile-portrait) {
		
		.page-slug-codigo-de-conducta  {
			

				#main {
				
				padding-bottom: 50px;
				margin-top: 100px;
				#primary {

						.entry-header {
							position: absolute;
							width: 50%;
							height: 10rem;
							left: 25rem;
  							
							top:-25rem;
												
							.entry-title {
								
								font-size: 3.7rem;
								font-weight: 900;
								color: #fff;
								margin:0;
								padding: 5px;

						}
					}

					#content {
												
						article {

							.entry-content {
						    	padding: 0 10px;


						    	
								div[id^="contact-form-"] {
									position: relative;
									width: 100%;
									
									label{
										font-weight: 600;
									}
									input[type="button"]{
										background-color: #ea4a15;
									}

								}
							}
						}
					}
				}
			}
		
	}
}

@media only screen and (max-width: 360px) {
		
		.page-slug-codigo-de-conducta {
			

				#main {
				
				padding-bottom: 50px;
				margin-top: 100px;
				#primary {

						.entry-header {
							position: absolute;
							width: 50%;
							height: 10rem;
							left: 1rem;
  							width: 90vw;
							top:-20rem;
												
							.entry-title {
								
								font-size: 3.2rem;
								font-weight: 900;
								color: #fff;
								margin:0;
								padding: 5px;
						}
					}

					#content {
						
						article {

							.entry-content {
						    	padding: 0 10px;


						    	
								div[id^="contact-form-"] {
									position: relative;
									width: 100%;
									
									label{
										font-weight: 600;
									}
									input[type="button"]{
										background-color: #ea4a15;
									}

								}
							}
						}
					}
				}
			}
			
	}
}