/**************************************************************************************************
 *
 *  @Section: Homepage
 *
***************************************************************************************************/
.home{

	#custom_html-3{
		background-image: url('https://2019.managua.wordcamp.org/files/2019/02/Banner-WordCamp-2019.png');
		background-size: cover;
		height: 60vh;
		
		.textwidget{
			max-height: 1000px;
			height: 100%;
		}

		img{
			position: relative;
			top:15rem;
			left: 15rem;
		}

		.banner{
			position: relative;
			float: right;
			text-align: right;
			max-width: 500px;
			top:-15%;
			left:-8%;
			h2{
				font-size: 5rem;
				line-height: 1;
				color:#ffffff;
			}
			a{
				width: 200px;
				font-weight: 900;
				background-color: $second-color;
				border-radius: 30px;
				padding: 15px;
				color:#ffffff;
				text-align: center;
			}
		}
	}

#after-header-widgets {
	
	

	& + #main {
		padding-top: 0px;
		margin-top: 0px;
	}

	& + #main #secondary {
		top: 0px;

	}
}

.entry-header{
	display: none;
}


#primary-sidebar{ display: none; }

.module {
	position: relative;
	width: 100%;
	padding: 60px 0;

	&:before,
	&:after { @include clearfix; }

	&:after { @include clearfix-after; }

	&-ticket { padding: 0;

		.btn {
			position: absolute;
			top: -120px;
			display: none; // display: block;
	    text-align: center;
    	white-space: nowrap;
			@include centered-x;
		}
	}

	&-intro {
		display: none;

		.intro-header {
			border-left: 3px solid $main-color;

			h1 {
				margin-top: 0;
				text-transform: uppercase;
				font-weight: bold;
				@include font-size(3.5);
			}

			p {
				width: 100%;
				@include font-size(2);
			}
		}

		.intro-content {

			strong { color: $fourth-color; }
		}
	}

	&-features {
		display: none;
		color: $white;
		background-color: $main-color;
		background-image: url("https://2018.managua.wordcamp.org/files/2018/03/waves-bkg.png");
		background-size: cover;
		background-position: bottom center;

		.feature {
			position: relative;
			text-align: center;
			padding: 120px 30px 0;

			.icon {
				position: absolute;
				display: inline-block;
				top: -30px;
				width: 160px;
				height: 160px;
				background-size: contain;
				background-repeat: no-repeat;
				@include centered-x;

				&:before { display: none; }

				&-bullhorn { background-image: url("https://2018.managua.wordcamp.org/files/2018/03/icon-bullhorn.png"); }
				&-calendar { background-image: url("https://2018.managua.wordcamp.org/files/2018/03/icon-calendar.png"); }
				&-ticket { background-image: url("https://2018.managua.wordcamp.org/files/2018/03/icon-ticket.png"); }
			}

			.title { color: $white; }
		}
		#primary-sidebar{
			display: none;
		}
	}

	&-community {
		display: none;
		padding: 0;
		background: none;

		.community-header {
			padding-top: 100px;
			position: absolute;
			text-align: center;
			z-index: 1000;
			@include centered-x;

			&:before {
				content: '';
				position: absolute;
				top: 30px;
				display: block;
				width: 85px;
				height: 74px;
				background-image: url("https://2018.managua.wordcamp.org/files/2018/03/sun.png");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
				z-index: 1000;
				@include centered-x;
			}


			.title { color: $fourth-color; }
		}
	}
}

	#main {
		padding-top: 0!important;
		min-height: 800px;
	}
	.site-content{
		background-image: url('https://2019.managua.wordcamp.org/files/2019/02/Banner-2.png');
		background-size: 110%;
		background-repeat: no-repeat;
		min-height: 710px;
	}

	.widget_text{
		img{
			width: 15%;
		}
	}

	#footer-widget-1{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#footer-widget-2{
		background-image: url('https://2019.managua.wordcamp.org/files/2019/02/Banner-3_comunidad.png');
	}
}

@media only screen and (max-width: $tablet-landscape) {

	.module {

		&-ticket {

			.btn { top: -80px; }
		}
	}
}

@media only screen and (max-width: $breakpoint) {

	.module {

		&-intro {

			.intro-header {
		    width: 90%;
    		float: right;
			}
		}
	}

	#after-header-widgets {}

}
