/**************************************************************************************************
 *
 *  @Section: Homepage
 *
***************************************************************************************************/
.home{
	
	#after-header-widgets{
		margin-bottom: -5rem;
		display: block!important;
	}
	
	#custom_html-3{

		background-image: url('https://2019.managua.wordcamp.org/files/2019/02/Banner-WordCamp-2019.png');
		background-size:cover;
		background-position: center left 50%;
		height: 80vh;
		
		.custom-html-widget{
			height: 100%;
			max-height: initial!important;
			margin-bottom: 2rem!important;
			display: flex;
			justify-content: space-around;
			align-items: center;
		
		img{
			width: auto;
			height: auto;
			top:0;
			left: 0;
		}


		.banner{
			text-align: right;
			max-width: 500px;
			top:0;
			left: 0;
			h2{
				font-size: 4rem;
				line-height: 1;
				color:#ffffff;
				font-weight: 700!important;
			}

			span{
				color:$second-color;
			}

			a{
				width: 200px;
				font-weight: 900;
				background-color: $second-color;
				border-radius: 30px;
				padding: 15px;
				color:#ffffff;
				text-align: center;
				&:hover{
							box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
						}
			}
		  }
		}
	}



#primary{
	padding: 0;
}

.entry-header{
	display: block;
}

#content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap:20px;
	
	.entry-title{
		a{
			color:$main-color;
			&:hover{
				color:#9FCF85;
			}
		}
	}
	padding-right: 0!important;
	figure{
		display: none;
	}

	.entry-meta{display: none;}
}

#primary-sidebar{ display: none; }


	div#main {
		padding-top: 0!important;
		min-height: 800px;
	}
	#text-6{
		
		background-image: url('https://2019.managua.wordcamp.org/files/2019/02/Banner-2.png');
		background-size: 110%;
		background-repeat: no-repeat;
		min-height: 710px;
		padding: 50px 300px 200px 60px;
		color: #ffffff;
		font-size: 2rem!important;
		line-height: 1.2;

		.textwidget{
			width: 70%;
		}

		p:first-child{
			font-weight: 700;
			margin-bottom: 2rem!important;
			font-size: 2.6rem;
		}

		h1{
			color: #ffffff;

		}
	}

	
	#custom_html-6{
		position: relative;
		background: transparent;
		top:-25rem!important;
		height: 420px;
		padding: 0px;

			.links{
				margin:0 auto;
				width: 75%;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				
				.link-ponentes,
				.link-programa,
				.link-ticket{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-content: center;
					box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
					margin:20px 20px;
					border-radius: 10px;
					padding: 50px 30px;
					text-align: center;
					background: #ffffff;
					img{
						width: 40%!important;
						margin:0 auto;
					}

					p{
						margin-bottom: 3.5rem;
						line-height: 1.5;
					}

					a{
						width: 200px;
						font-weight: 900;
						background-color: $second-color;
						border-radius: 30px;
						padding: 15px;
						color:#ffffff;
						text-align: center;
						margin:0 auto;
						&:hover{
							box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
						}
					}
				}
			}
	}

	#custom_html-2{
		height: 100%;
		min-height: 50vh;
		padding: 0;
		background: #fff fixed no-repeat 50% 50%;
		background-size: cover;
		background-image: url('https://2019.managua.wordcamp.org/files/2019/03/banner-3_comunidad_modificado.jpg');
		
		.custom-html-widget{

			height: 100%!important;
			max-height: initial;
			min-height: inherit;
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			h2{
				width: 45%;
				color: #ffffff;
				font-weight: 700!important;
				font-size: 3.5rem;
				margin:0;
				line-height: 1.2;
			}
			img{
				width: 15%;
			}
			
		}

	}

	.widget_blog_subscription {
		.success {
			color: $white;
			text-align: center;
		}
	}


}


@media only screen and (max-width: $mobile) {

	.home {
		#after-header-widgets {
			margin-bottom: 0;

			#custom_html-3{
				background: transparent;
				margin-top: 4rem;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.textwidget{
					flex-direction: column;
					img{
						width: 60%!important;
						margin: 3rem auto;
						position: relative;
						top:0!important;
						left:0!important;

					}
				}
				
				.banner{
					margin: 0 auto; 
					margin-top: 1.5rem;
					text-align: center;
					width: 100%;

					h2{
						color: $main-color;
						font-size: 3.5rem;
						margin-top: 1.5rem;
					}
					a{
						&:after{
							content: '\f145';
							font-family: 'fontawesome';
							margin-left: 0.5rem;
						}
					}
				}
			}
		}

		#text-6{
			min-height: auto;

			h1{
				color:$main-color!important;
				text-align: center;
			}
			background: #ffffff!important;
			color:$main-color!important;
			padding: 20px!important;
			.textwidget{
				width: 100%!important;
			}
		}

		#custom_html-6{
			top: 0 !important;
			padding: 40px 0;
			height: auto;

			.links{
				display: block!important;
				padding: 0 20px;
				width: 100%;
				
				.link-ponentes,
				.link-programa,
				.link-ticket{
					margin: 20px 10px!important;
					box-shadow: none!important;
					padding: 20px 0px!important;

				}
				
			}
		}

		#custom_html-2{
			padding: 15px 10px!important;
			background-position: center!important;
			.textwidget{
				margin:0 !important;
				text-align: center;
				h2{
					margin:0!important;
					margin-top: 2.5rem!important;
					width: 100%!important;
					font-weight: 900!important;
					font-size: 2.5rem!important;
				}
				img{
					width: 40%;
				}
			}
			.custom-html-widget{
				flex-direction: column;
			}
		}

		#content{
			display: block!important;
			width: 100%!important;
			padding: 20px!important;
		}
	}


}

@media only screen and (max-width: $breakpoint) {
	#custom_html-3{
		background-position: center left -50%!important;
		.textwidget{
			
			img{ 
				left:0!important;
				top:0!important;
		 	}
		 .banner{
			width: 100%;
		 	h2{

		 		font-size: 3rem;
		 	}
		 	
		 }
		}
		
	}

	#text-6{

		padding: 20px 30px 20px 30px!important;
		background-size: 410%!important;
	}

	#custom_html-6{
		top: -15rem !important;
	}

}

@media only screen and (max-width: $tablet-portrait) {

.site-header{
	height: 0!important;
	}

	#custom_html-3{
		    background-position:center left -60%!important;
			
			.custom-html-widget{
				flex-direction: column;
				justify-content: center!important;
					img{
			    	top:0!important;
			    	left:0!important;
			    	width: 30%!important;
			    }
			    .banner{
			    	text-align: center!important;
			    }
			}
	}

	#after-header-widgets{
		width: 100%!important;
		margin-right: 0;
	}

	#custom_html-3 {
	    
	    width: 100%!important;
	}

	#custom_html-6 {
		min-height: 420px!important;
		height: auto!important;

    .links{
		width: 80%!important;
		display: block!important;

			.link-ponentes,
			.link-programa,
			.link-ticket{
				margin: 35px 40px!important;
				
			}
    }	   
	}

	#text-6{
		padding: 20px 30px 20px 30px!important;
		font-size: 2rem!important;
		background-size: 212%!important;
			.textwidget {
		    width: 100%!important;
			}
	}

	#content{
		display: block!important;
		    padding: 0 30px!important;
	}

}

@media only screen and (max-width: $tablet-landscape) {
	.site-header{
	height: 0!important;
	}
	
	#custom_html-6 {
		.links{
			width: 100%!important;
		}
	}

	#custom_html-3{
	    background-position:center left 50%;
	}

	#text-6{
		padding: 20px 30px 20px 30px!important;
		background-size: 160%!important;
	}
}


@media only screen and (max-width: 360px) {
	.home{

		#custom_html-3{

			.textwidget{
				
				margin-top: 10rem!important;

				.banner{
					left: 0;
					width: 100%;
				}
				img{ 
					left: 0!important;
				}
			}
		}
	}
}