/**************************************************************************************************
 *
 *  @Section: Homepage
 *
***************************************************************************************************/
.home{

	.textwidget{
		img{
			width: 15%;
		}
	}

	#custom_html-3{
		//background: #fff fixed no-repeat center;
		//background-size: cover;
		background-image: url('https://2019.managua.wordcamp.org/files/2019/02/Banner-WordCamp-2019.png');
		background-size:cover;
		//background-position: center top 18%;
		height: 60vh;
		
		.textwidget{
			max-height: 1000px;
			height: 100%;
		}

		img{
			position: relative;
			top:15rem;
			left: 15rem;
		}

		.banner{
			position: relative;
			float: right;
			text-align: right;
			max-width: 500px;
			top:-15%;
			left:-8%;
			h2{
				font-size: 5rem;
				line-height: 1;
				color:#ffffff;
			}
			a{
				width: 200px;
				font-weight: 900;
				background-color: $second-color;
				border-radius: 30px;
				padding: 15px;
				color:#ffffff;
				text-align: center;
				&:hover{
							box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
						}
			}
		}
	}



#primary{
	padding: 0;
}

.entry-header{
	display: block;
}

#content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap:20px;

	padding-right: 0!important;
	figure{
		display: none;
	}

	.entry-meta{display: none;}
}

#primary-sidebar{ display: none; }


	#main {
		padding-top: 0!important;
		min-height: 800px;
	}
	#text-6{
		//background: #fff fixed no-repeat center;
		//background-size: cover;
		background-image: url('https://2019.managua.wordcamp.org/files/2019/02/Banner-2.png');
		background-size: 110%;
		background-repeat: no-repeat;
		min-height: 710px;
		padding: 50px 300px 200px 60px;
		color: #ffffff;
		font-size: 2.2rem;
		line-height: 1.2;

		.textwidget{
			width: 70%;
		}

		p:first-child{
			font-weight: 900;
			margin-bottom: 2rem;
			font-size: 2.6rem;
		}

		h1{
			color: #ffffff;

		}
	}

	

	#custom_html-6{
		position: relative;
		background: transparent;
		top:-15rem;
		padding: 0px;
			.links{
				margin:0 auto;
				width: 70%;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				
				.link-ponentes,
				.link-programa,
				.link-ticket{
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-content: center;
					box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
					margin:20px 40px;
					border-radius: 10px;
					padding: 50px 30px;
					text-align: center;
					background: #ffffff;
					img{
						width: 40%!important;
						margin:0 auto;
					}

					p{
						margin-bottom: 3.5rem;
						line-height: 1.5;
					}

					a{
						width: 200px;
						font-weight: 900;
						background-color: $second-color;
						border-radius: 30px;
						padding: 15px;
						color:#ffffff;
						text-align: center;
						margin:0 auto;
						&:hover{
							box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
						}
					}
				}
			}
	}

	#custom_html-2{
		height: 100%;
		min-height: 50vh;
		padding: 50px;
		background: #fff fixed no-repeat 50% 50%;
		background-size: cover;
		background-image: url('https://2019.managua.wordcamp.org/files/2019/02/Banner-3_comunidad.png');
		
		.custom-html-widget{
			display: flex;
			justify-content: center;
			align-items: center;
			h2{
				width: 40%;
				color: #ffffff;
				font-weight: 900;
				font-size: 4rem;
				margin:1.5rem;
				line-height: 1.2;
			}
			
		}

	}


}

@media only screen and (max-width: $tablet-landscape) {

	.module {

		&-ticket {

			.btn { top: -80px; }
		}
	}
}

@media only screen and (max-width: $mobile) {

	
	#after-header-widgets {
		#custom_html-3{
			background: transparent;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.textwidget{
				flex-direction: column;
				img{
					width: 50%;
					margin: 20px auto;
					position: relative;
					top:3rem;
					left:0rem;

				}
			}
			.banner{
				position: static;
				margin-top: 1.5rem;
				text-align: center;

				h2{
					color: $main-color;
					font-size: 3.5rem;
					margin-top: 1.5rem;
				}
				a{
					&:after{
						content: '\f145';
						font-family: 'fontawesome';
						margin-left: 0.5rem;
					}
				}
			}
		}
	}

	#text-6{
		h1{
			color:$main-color!important;
			text-align: center;
		}
		background: #ffffff!important;
		color:$main-color!important;
		padding: 20px!important;
		.textwidget{
			width: 100%!important;
		}
	}

	#custom_html-6{
		top:0!important;
	
	.links{
				display: block!important;
				margin:0 20px;
				width: 100%;
				
				.link-ponentes,
				.link-programa,
				.link-ticket{
					margin: 20px 10px!important;
					box-shadow: none!important;
					padding: 20px 0px!important;

				}
				
			}
	}

	#custom_html-2{
		padding: 15px 10px!important;
		background-size: 250%!important;
		background-position: center!important;
		.textwidget{
			margin:0 !important;
			text-align: center;
			h2{
				margin:0!important;
				margin-top: 2.5rem!important;
				width: 100%!important;
				font-weight: 900!important;
				font-size: 2.5rem!important;
			}
			img{
				width: 40%;
			}
		}
		.custom-html-widget{
			flex-direction: column;
		}
	}

	#content{
		display: block!important;
		width: 100%!important;
		padding: 20px!important;
	}


}
