/**************************************************************************************************
 *
 *  @Section: llamado-a-ponentes
 *
***************************************************************************************************/

.page-slug-call-for-speakers,
.home.page-slug-call-for-speakers {
	$header-height: 35vw;
	$header-max-height: 600px;
	
	.site-header {
		position: relative;
		width: 100%;
		height: 600px;
		background-image: url('https://2019.managua.wordcamp.org/files/2019/01/banner-wordpress.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		top:15rem;
		
		&:before {
			display: none;
			}

		&:after {
			display: none;
			
		}

	hgroup {
		position: relative;
		display: block;
	}

		.site-title {
			display: block;
			position: absolute;
			top:-48rem;
			left: 3rem;
			a {
				display: block;
				width: 250px;
				height: auto;
				margin: 0;
				background-image: url("https://2019.managua.wordcamp.org/files/2019/01/logo-2019.png");
				text-indent: -9999px;
	          	background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;

			}
		}

		.site-description {
			display: none;
			margin-top: 20px;
			color: $black;
			text-transform: uppercase;
		}
	}
	

	#after-header-widgets {
		display: none;
	}

	#main {
		padding-bottom: 0px;
		padding-top: 60px!important;
		background: transparent!important;
		margin-top: 15rem;
		&:after {
			display: none;
		}

		#primary {
			padding-top: 0px;

			.entry-header {
					position: absolute;
					width: 50%;
					height: 50%;
					top:-35rem;
					left: 50%;

										
					.entry-title {
						
						font-size: 5rem;
						font-weight: 700;
						color: #fff;
						margin:0;
						padding: 0;
						text-transform: uppercase;
						line-height: 1.5;
				
				}
			}

			

			#content {
				padding-right: initial;
	
				&:before {
					display: none;
				}

				article {

					.entry-content {
						position: relative;
						top:0;
						padding-right: 53%;
						font-size: 2rem;
						

						div[id^="contact-form-"] {
							padding: 20px;
							position: absolute;
							top: 0;
							right: 0;
							width: 50%;
							color: $main-color;
							background-color: $light-third-color;
							border-radius: 8px;

							.contact-form label span {
							    color: $main-color;

							  }
							  .grunion-field-wrap{
								margin-bottom: 1.5rem;				
							  }

							 label{
										margin-bottom:1rem;
										line-height: 1.5;
									}

						}
					}
				}
			}
		}

		#secondary {
			display: none;
		}
	}

	.site-footer {
		background-image: url('https://2019.managua.wordcamp.org/files/2019/01/avi-richards-183715-unsplashbanner.png');
			background-repeat: no-repeat;
			background-size: cover;
		position: relative;
		width: 100%;
		height: 90vh;
		max-height: initial;
		min-height: initial;
		display: block;
		.site-info{
			background: transparent;
			bottom:-30rem;
			&:before{
				display: none;
			}
		}
	}
}


@media only screen and (max-width: $tablet-portrait) {

	.page-slug-call-for-speakers,
	.home.page-slug-call-for-speakers  {
	
		.site-header {
    	min-height: 300px;
    	background-position: center left -400px;
				background-size: 350% auto;
    	.site-title{
    		left: 35%;
    	}
		}

		#main {
			padding-left: initial;
			padding-right: initial;
			padding-bottom: 50px;

			#primary {

				.entry-header {
					position: absolute;
					width: 40%;
					height: 40%;
					top:-10%;
					left: 20rem;

										
					.entry-title {
						
						font-size: 5rem;
						font-weight: 700;
						color: #fff;
						margin:0;
						padding: 0;
										
				}
			}

				#content {

					article {

						.entry-content {
					    	padding: 0 20px;

							div[id^="contact-form-"] {
								position: relative;
								width: 100%;
							}
						}
					}
				}
			}
		}
		.site-footer{
				height: 90vh;
				.site-info{
					bottom: 0!important;
				}
		}
	}
}

@media only screen and (max-width: $mobile) {
		
		.page-slug-call-for-speakers,
		.home.page-slug-call-for-speakers  {
			.site-header {
		    	//min-height: 300px;
		    	background-position: center left -400px;
				background-size: 400% auto;

		    	.site-title{
		    		//width: 100%;

		    		left:10rem;
		    		a{
		    			width: 500px;

		    		}
		    	}
			}

				#main {
				
				padding-bottom: 50px;
				margin-top: 100px;
				#primary {

						.entry-header {
							position: absolute;
							width: 50%;
							height: 40%;
							left: 5%;
  							right: 5%;
							width: 90vw;
							top:-20rem;
												
							.entry-title {
								
								font-size: 3.7rem;
								font-weight: 900;
								color: #fff;
								margin:0;
								padding: 5px;

						}
					}

					#content {
						
						article {
							margin-right: 15px;
							.entry-content {
						    	padding: 0 10px;
						    	

						    	//Form select
								.site-content select, .widget-area select{
								  color: #666 !important;
								}

								//Form Checks
								.contact-form label.checkbox, .contact-form label.radio{
								  font-weight: 600;
								}


								div[id^="contact-form-"] {
									position: relative;
									width: 100%;
									label{
										font-weight: 600;
									}
									input[type="button"]{
										background-color: #ea4a15;
									}

								}
							}
						}
					}
				}
			}
			.site-footer{
				height: 90vh;
				
				background-position: center left -350px;
				margin-top: 2rem;
				.site-info{
					bottom: 0!important;
				}
			}
	}
}

@media only screen and (max-width: 360px) {
		
		.page-slug-call-for-speakers,
		.home.page-slug-call-for-speakers  {
			.site-header {
		    	
		    	background-position: center left -500px;
				background-size: 550% auto;

		    	.site-title{
		    		
		    		left:calc(50% - 135px);

			    		a{
			    			width: 500px;

			    		}
			    	}
				}

				#main {
				
				padding-bottom: 50px;
				margin-top: 100px;
				#primary {

						.entry-header {
							position: absolute;
							width: 50%;
							height: 10rem;
							left: 1rem;
  							width: 90vw;
							top:-20rem;
												
							.entry-title {
								
								font-size: 3.7rem;
								font-weight: 900;
								color: #fff;
								margin:0;
								padding: 5px;

						}
					}

					#content {
												
						article {

							.entry-content {
						    	padding: 0 10px;


						    	
								div[id^="contact-form-"] {
									position: relative;
									width: 100%!important;
									
									label{
										font-weight: 600;
									}
									input[type="button"]{
										background-color: #ea4a15;
									}

								}
							}
						}
					}
				}
			}
			.site-footer{
				height: 60vh;
				
				background-position: center left -300px;
				margin-top: 2rem;
				.site-info{
					bottom: 0!important;
				}
			}
	}
}