/**************************************************************************************************
 *
 *  @Section: llamado-a-ponentes
 *
***************************************************************************************************/
.page-slug-call-for-speakers,
.home.page-slug-call-for-speakers {
	$header-height: 35vw;
	$header-max-height: 600px;
	
	.site-header {
		position: relative;
		width: 100%;
		height: 150px;
		max-height: initial;
		min-height: initial;

		&:before,
		&:after {
			content: '';
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: $header-height;
			max-height: $header-max-height;
			min-height: 350px;
			z-index: -1;
		}

		&:before {
		display: none;
		}

		&:after {
			display: none;
			
		}

	hgroup {
		position: relative;
		display: block;
	}

		.site-title {
			display: block;

			a {
				display: block;
				width: 250px;
				height: auto;
				margin: 0;
				background-image: url("https://2019.managua.wordcamp.org/files/2019/01/logo-wc-2019.png");
				text-indent: -9999px;
	          	white-space: nowrap;
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
			}
		}

		.site-description {
			display: none;
			margin-top: 20px;
			color: $black;
			text-transform: uppercase;
		}
	}
	

	#after-header-widgets {
		display: none;
	}

	#main {
		padding-bottom: 200px;
		
		

		&:after {
			display: none;
		}

		#primary {
			padding-top: 20px;

			.entry-header {
				width: 100%;
				position: absolute;
				display: block;
				top: -20rem;
				text-align: center;
				@include centered-x;
				
				h1{
					float: right;
					background: transparent;
				}
				&:after {
					
					content: '';
					background-image: url("https://2019.managua.wordcamp.org/files/2019/01/Slider-wordpress.png");
					position: absolute;
					top: 80%;
					left: 46%;
					display: block;
					
				  border-top: 5px solid transparent;
					height: 150;
					width: 100%;
					z-index: -1;
				  display: none;
				}
			}

			.entry-title {
				position: relative;
				font-size: 50px;
				font-size: 5rem;
				font-weight: 700;
				padding: 0 30px;
				
				white-space: nowrap;
				color: $default-text;
				

				&:after {
					display: none;
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					display: block;
					border-bottom: 70px solid $white;
					border-left: 10px solid transparent;
					border-right: 0px solid transparent;
				  border-top: 5px solid transparent;
					height: 0;
					width: 100%;
					z-index: -1;
				 
				  display: none;
				}
			}

			#content {
				//padding-right: initial;

				&:before {
					display: none;
				}

				article {

					.entry-content {
						position: relative;
						padding-right: 50%;

						div[id^="contact-form-"] {
							padding: 20px;
							position: absolute;
							top: 0;
							right: 0;
							width: 45%;
							color: $main-color;
							background-color: $light-third-color;
							border-radius: 8px;
						}
					}
				}
			}
		}

		#secondary {
			display: none;
		}
	}

	.site-footer {
		display: none;
	}
}

@media only screen and (max-width: $tablet-portrait) {

	.page-slug-llamado-a-ponentes,
	.home.page-slug-llamado-a-ponentes {

		.site-header {
    	min-height: 300px;
		}

		#main {
			padding-left: initial;
			padding-right: initial;
			padding-bottom: 50px;

			#primary {

				.entry-title {
					font-size: 20px;
    			font-size: 2rem;
    			padding: 0 20px;
				}

				#content {

					article {

						.entry-content {
					    padding: 0 20px;

							div[id^="contact-form-"] {
								position: relative;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
