/**************************************************************************************************
 *
 *  @Section: speakers
 *
***************************************************************************************************/
//Hide Widget
#after-header-widgets, #after-header-widgets + #main #secondary{
	display: none;
}


.page-slug-ponentes-diseno {
	.grav-clone-a{
		display: none !important;
	}
	#primary {
		#content {
	    padding-right: 0;
		}
	}

	#secondary {
		display: none;
	}

	.wcorg-speakers{
        display: grid;
    	grid-template-columns: repeat( 3, minmax( 200px, 1fr ) );
    	grid-column-gap: 13px;
	}

	.wcorg-speaker {
		margin-bottom: 25px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		background-color: #ffc368;
		.wcorg-speaker-description{
			display: grid;
			grid-template-columns: 1fr;
			padding: 5px;
		}

		@media only screen and (min-width: $desktop) {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
		}

		&:before,
		&:after { @include clearfix; }

		&:after { @include clearfix-after; }
	}

	.wcorg-speaker-description{
		position: relative;
		padding-left: 150px;
		padding-right: 50px;
		min-height: 150px;
		text-align: justify;

		img.avatar{
			position: absolute;
			top: 0;
			left: 10px;
			width: 100px;
			height: auto;
			margin: 10px 5px 10px 0;
		}
	}
}